.events__list{
    margin-top: 2rem auto;
    width: 40rem;
    max-width: 90%;
    list-style: none;
    padding: 0;
}
.events__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #01d1d3;
}